body{
    font-family: 'Pacifico', cursive;
    font-family: 'Reenie Beanie', cursive;
    font-family: 'Dela Gothic One', cursive;
    font-family: 'Shadows Into Light', cursive;
    font-family: 'Catamaran', sans-serif;
    font-family: 'Dosis', sans-serif;
}

.hero{
    background-image: linear-gradient(to right, rgba(53, 70, 48, 0.836) 0%, rgba(80, 121, 75, 0.699) 70%), url("/libreria/img/idea.jpg") ;
    width: 100%;
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
    }


      
    .textos-hero{
         font-family: "Pacifico" ; 
         height: 90px;
         color: white;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
        
     }
     
     .textos-hero h1{
        font-family: "Shadows Into Light"; 
        font-size: 50px;
      }
     
      .textos-hero p{
         font-size: 28px;
         margin-bottom: 20px;
         
      }
     
      .textos-hero a{
         display: inline-block;
         text-decoration: none;
         padding: 12px 15px;
         background-color: rgb(151, 160, 99);
         border-radius: 8px;
         color: white;
      }
     

      /* letra y estilo h1 */

        .texto-idea h1{
            font-family: "Catamaran" ; 
            height: 175px;
            color: rgba(30, 114, 34, 0.521);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
}

     .texto-idea h1{
        font-size: 125px;

}
 
/* Form */


     
form{
    width: 715px;
    font-family: "Dosis";
    
}

form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

legend{
    font-size: 50px;
}



img{
    width: 125px;
    height: 125px;

}



/* Ideas a realizar */
.texto-realizar{
font-family: "Pacifico" ; 
    height: 175px;
    color: rgba(243, 70, 70, 0.418);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.texto-realizar h3{
    font-size: 100px;
}



/* Letra y estilo footer */ 

footer{

    background-image: linear-gradient(to right, rgba(73, 45, 45, 0.836) 0%, rgba(146, 59, 59, 0.699) 70%), url("/libreria/img/idea.jpg") ;
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
    }


.textos-end{
    font-family: "Catamaran" ; 
    height: 300px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
 
.textos-end{
    font-size: 30px;
}
form{
    width: 715px;
}

img{
    width: 125px;
    height: 125px;

}

/* Media    */

@media screen and (max-width:800px){
    .textos-hero h1,p{
        text-align: center;
        font-size: 10px

    }
    /* estilos generales*/
    .titulo{
        font-size: 35px;
    }
    .titulo.left{
        text-align: center;
    }
    .info p{
        text-align: center;
    }

/* Section*/
.website{
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    
}

.website img{
    width: 100%;
}

.contenedor-textos-main{
    width: 100%;
}


/* Cards */

.card{
    width: 90%;
    margin-bottom: 20px;
}

/* Galeria */

.galeria-cont>img{
width: 48%;
}


/* Last*/

.mitad-section>img{
    width: 98%;
}
.mitad-section .contenedor-textos-main{
    width: 98%;
    margin-bottom: 20px;
    
}

@media screen and (max-width:400px) {
    .titulo,
    .textos-hero h1{
        font-size: 20px;
    }

    
    .hero{
        background-image: linear-gradient(to right, rgba(36, 57, 73, 0.692) 0%, rgba(81, 127, 164, 0.699) 70%), url("img/merida.jpg");
    }
    .textos-hero p{
        font-size: 15px;
        text-align: center;

    }

    .card{
        height: 240px;
    }

    .content-cards,
    h3{
        font-size: 20px;
    }

    .content-cards p{
        font-size: 10px;
    }
    
    .website.contenedor-textos-main{
        margin-bottom: 20px;

    }

    .galeria-con>img{
        width:97%

    }

    .logo-hero>img{ 
        width:150px 
    }

    .input{
        font-size: 10px;

    }

}